<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Style the header */
  header {
      background-color: #ce5181;
      padding: 20px;
      text-align: center;
      font-size: 15px;
      color:cornsilk;
  }
  .container{
    padding: 70px;
    
  }
  /* Style the footer */
  footer {
            /* position:fixed; */
            background-color: #777;
            padding: 10px;
            text-align: center;
            color: white;
        }
  </style>
 </head>
<body>
  <header>
    <h2>Welcome To PRGS</h2>
    <small>Logged in as ####</small>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="../html/UserComplaintPage.html" target="_blank">
        <img src="../image/ComplaintIcon.jpg" alt="Lights" style="width:77%">          <div class="caption">
            <p style="text-align: center;">Complaint</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="../html/UserRequestPage.html" target="_blank">
          <img src="../image/RequestIcon.jpg" alt="Nature" style="width:50%">
          <div class="caption">
            <p style="text-align: center;">Request</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<footer>
  <h4>Thank You</h4>
</footer>
</body>
</html>


